/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/

html, body {
	font-family: monospace;
	margin: 0;
	box-sizing: border-box;
}

.container {
	padding: 0 2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.section{
	padding: 2.75rem 0;
}
header {
	background-color: #333333;
	color: #00FF00;
}

header h1{
	display: inline-block;
	margin-right: 2rem;
	font-size: 2.3rem
}

img[src="images/welcome.gif"] {
	display: block;
	margin: 0 auto;
}




.instructions-wrapper {
	display: flex;
	align-items: flex-start;
	border-style:solid;
	border-width:2px;
	border-color:black;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 15px;

}

img[src="images/captain-janeway.png"] {
	height: 150px;
	width: auto;
	padding: 15px;
}


.instructions-content {
	flex: 1;
	padding: 2rem;
}

.instructions-content h2 {
	margin-top: 0;
}

.about-me {
	background-color: blue;
	color: white;
padding: 30px;
}

.about-me p span{
	color:yellow;
	font-style: italic;
}

img[src="images/stunning.jpg"] {
	height: 200px;
	width: auto;
	float: left;
	border: 2px solid white;
	margin-right: 20px;
}
.container-skills{
	padding: 0 2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container-skills h2{
	text-align: right;
}

table{

	color: #00FF00;
	width: 100%;
}
td, th {
	background-color: #333333;
	padding: 5px;
	text-align: left;
}


.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/



