/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/

html, body {
	font-family: 'VT323', monospace;
	margin: 0;
	box-sizing: border-box;
}

.container {
	padding: 0 2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
header {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-top: -30px;
	background-color: #333333;
	color: #00FF00;
}

h1{
	flex-grow: 1;
}


.instructions-wrapper {
	border-style:solid;
	border-width:2px;
	border-color:black;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 15px;

}

img[src="images/welcome.gif"] {
	display: block;
	margin: 0 auto;
}

img[src="images/captain-janeway.png"] {
	height: 150px;
	width: auto;
	float: right;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/



